# Assignment 01

In [3]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']

In [5]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k']

### 1. What is the length of the salaries list.

In [8]:
len(salaries)

7

### 2. Retrieve the third salary in the list by using index.

In [11]:
salaries[2]

'50k'

### 3. Extract the last salary from the list by using a negative index.

In [14]:
salaries[-1]

'40k'

### 4. Slice the salaries list to get only the middle three salaries.

In [17]:
salaries[2:5]

['50k', '60k', '35k']

### 5. Add a new salary to the list, ‘100k’ by using append() method.

In [20]:
salaries.append('100k')

In [22]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

### 6. Add a new salary to the list, ‘120k’ without method.

In [25]:
salaries += ['120k']

In [27]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

### 7. Replace the third salary in the list with '55k' and print the updated list.

In [30]:
salaries[2] = '55k'
print(salaries)

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

### 8. Count how many times '40k' appears in the list.

In [33]:
salaries.count('40k')

2

### 9. Insert a new salary at the second position.

In [36]:
salaries.insert(1, '45k')

In [38]:
salaries

['20k', '45k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

### 10. Reverse the order of the salaries list with method.

In [41]:
salaries.reverse()

In [43]:
salaries

['120k', '100k', '40k', '89k', '35k', '60k', '55k', '40k', '45k', '20k']

### 11. Reverse the order of the salaries list without method.

In [46]:
salaries = salaries[::-1]

In [48]:
salaries

['20k', '45k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']