# Assignment # 04

# Question # 01

In [3]:
# Given tuple
my_tuple = ((1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9])

# Part 1: Print all elements on a new line
print("Elements of my_tuple:")
for element in my_tuple:
    print(element)

# Part 2: Concatenate the first and last elements
# Since the first and last elements are both sequences, we can concatenate them
new_tuple = my_tuple[0] + tuple(my_tuple[-1])  # Convert the last element (list) to a tuple
print("\nNew tuple by concatenating the first and last elements:")
print(new_tuple)

Elements of my_tuple:
(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]

New tuple by concatenating the first and last elements:
(1, 2, 3, 7, 8, 9)

# Question # 02

In [6]:
# Given inventory dictionary
inventory = {
    "The Great Gatsby": {"price": 10.99, "quantity": 5},
    "Rich dad poor dad": {"price": 8.99, "quantity": 8},
    "Harry Potter": {"price": 12.50, "quantity": 2},
}

# Part 1: Add a new book to the inventory and get all book titles
# Adding a new book
new_book = "To Kill a Mockingbird"
inventory[new_book] = {"price": 9.99, "quantity": 3}  # Adding with price and quantity

# Getting all book titles
book_titles = inventory.keys()  # This returns a list of all the book titles
print("Book titles in the inventory:")
print(list(book_titles))  # Convert to a list to print nicely

# Part 2: Remove a book if it's out of stock
# Check for books with quantity = 0 and remove them
books_to_remove = [book for book, details in inventory.items() if details["quantity"] == 0]
for book in books_to_remove:
    del inventory[book]  # Remove out-of-stock books

print("\nUpdated inventory:")
print(inventory)

Book titles in the inventory:
['The Great Gatsby', 'Rich dad poor dad', 'Harry Potter', 'To Kill a Mockingbird']

Updated inventory:
{'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}, 'To Kill a Mockingbird': {'price': 9.99, 'quantity': 3}}

# Question # 03

In [9]:
# Given products dictionary
products = {
    101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50},
    102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200},
    103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30},
}

# Part 1: Increase the stock of the "Shirt" product
shirt_id = 102  # Product ID for "Shirt"
products[shirt_id]["stock"] += 50  # Increase stock by 50

print(f"Updated stock for 'Shirt': {products[shirt_id]['stock']}")

# Part 2: Add a new product ("Smartphone")
new_product_id = 104  # New unique product ID
products[new_product_id] = {
    "name": "Smartphone",
    "category": "Electronics",
    "price": 699,
    "stock": 100,
}

print("\nUpdated products dictionary:")
for product_id, details in products.items():
    print(f"ID: {product_id}, Details: {details}")

Updated stock for 'Shirt': 250

Updated products dictionary:
ID: 101, Details: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}
ID: 102, Details: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}
ID: 103, Details: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}
ID: 104, Details: {'name': 'Smartphone', 'category': 'Electronics', 'price': 699, 'stock': 100}

# Question # 04

In [12]:
# Given shopping list with duplicates
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

# Remove duplicates by converting the list to a set
unique_items = set(shopping_list)

# Convert the set back to a list (if you need a list output)
unique_shopping_list = list(unique_items)

# Output the results
print("Original shopping list:")
print(shopping_list)

print("\nUnique shopping list (duplicates removed):")
print(unique_shopping_list)

Original shopping list:
['apple', 'banana', 'apple', 'orange', 'banana', 'grape']

Unique shopping list (duplicates removed):
['grape', 'apple', 'banana', 'orange']

# Question # 05

In [17]:
# Given sets of students
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}

# Part 1: Students in Course A but not in Course B (difference)
only_in_course_a = course_a - course_b
print("Students in Course A but not in Course B:")
print(only_in_course_a)

# Part 2: Students only in one of the two courses (symmetric difference)
only_in_one_course = course_a ^ course_b  # Symmetric difference operator
print("\nStudents only in one of the two courses:")
print(only_in_one_course)

Students in Course A but not in Course B:
{'Bob', 'John'}

Students only in one of the two courses:
{'Eve', 'Charlie', 'Bob', 'John'}

# Question # 06

In [20]:
# Initialize a variable to hold the sum of even numbers
sum_of_evens = 0

# Use a for loop to iterate through all numbers from 1 to 50
for number in range(1, 51):  # Range from 1 to 50 (inclusive)
    if number % 2 == 0:  # Check if the number is even
        sum_of_evens += number  # Add the even number to the sum

# Print the total sum of all even numbers
print("The sum of all even numbers between 1 and 50 is:", sum_of_evens)

The sum of all even numbers between 1 and 50 is: 650

# Question # 07

In [23]:
# Ask the user for a number between 1 and 10
number = int(input("Enter a number between 1 and 10: "))

# Validate that the number is in the correct range
if 1 <= number <= 10:
    print(f"\nMultiplication table for {number}:\n")
    # Use a for loop to iterate from 1 to 10
    for i in range(1, 11):
        # Calculate and print the product in readable format
        print(f"{number} x {i} = {number * i}")
else:
    print("Invalid input! Please enter a number between 1 and 10.")

Enter a number between 1 and 10:  8

Multiplication table for 8:

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

# Question # 08

In [27]:
# Ask the user for a number
number = int(input("Enter a number: "))

# Initialize the exponent (starting from 1)
exponent = 1

# Use a while loop to print powers of the number from 1 to 10
while exponent <= 10:
    result = number ** exponent  # Calculate the power
    print(f"{number}^{exponent} = {result}")  # Print the result
    exponent += 1  # Increment the exponent

Enter a number:  5

5^1 = 5
5^2 = 25
5^3 = 125
5^4 = 625
5^5 = 3125
5^6 = 15625
5^7 = 78125
5^8 = 390625
5^9 = 1953125
5^10 = 9765625

# Question # 09

In [30]:
# Ask the user for an integer input to start the countdown
start_number = int(input("Enter a number to start the countdown: "))

# Use a while loop to count down from the given number to 0
while start_number >= 0:
    print(start_number)  # Print the current number
    start_number -= 1  # Decrement the number by 1

# After the countdown reaches 0, print the message
print("Countdown finished!")

Enter a number to start the countdown:  7

7
6
5
4
3
2
1
0
Countdown finished!

# Question # 10

In [37]:
# Ask the user for an integer input to determine the number of rows
n = int(input("Enter the number of rows: "))

# Use a for loop to print the pattern
for i in range(1, n + 1):
    # Print i stars in each row, with a space between each star
    print(" ".join(["*"] * i))

Enter the number of rows:  5

*
* *
* * *
* * * *
* * * * *

# The End